# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Platform-specific
android/.gradle/
android/local.properties
ios/Pods/
ios/Runner.xcworkspace/
linux/flutter/
macos/Flutter/ephemeral/
windows/flutter/

# Firebase / secrets
.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE files
*.iml
.idea/
.vscode/

# Zip files
*.zip

# macOS
.DS_Store

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

